#set($type = $rundata.getParameters().getString("type",""))
#if($pageList.size() >0)
	<p class="fy">
		#set($paginator = $!pageList.paginator)
		#set ( $pages = $paginator.getSlider(8))
			
		#if(!$paginator.isDisabledPage($paginator.previousPage))
			<a href="http://yunqigou.com/home/page/num-${paginator.previousPage}.htm" class="shang" title="上一页">上一页</a>
		#else
			<a title="上一页" class="shang">上一页</a>
		#end
	
		#foreach ($p in $pages)
			#if ($paginator.isDisabledPage($p))
				<a href="#" class="ye">${p}</a>
			#else
				<a href="http://yunqigou.com/home/page/num-${p}.htm">$p</a>
			#end
		#end
	
		#if(!$paginator.isDisabledPage($paginator.nextPage))
			<a href="http://yunqigou.com/home/page/num-${paginator.nextPage}.htm" class="next" title="下一页">下一页</a>
		#else
			<a title="下一页" class="next">下一页</a>
		#end
	</p>
#end