<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta charset="gbk"/>
<title>聚优影视</title>
<link rel="stylesheet" type="text/css" href="http://www.yunqigou.com/css/home/page/css.css">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c7acd7acc30336a308250d1f93daed46";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body>
<div class="global">
	<div class="ad_left">
	<script type="text/javascript">
	var sogou_ad_id=306934;
	var sogou_ad_height=600;
	var sogou_ad_width=120;
	</script>
	<script language='JavaScript' type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
	</div>
	<!--MAIN START-->
	<div class="main">      
			
			$control.setTemplate("showheader.vm")
		     $screen_placeholder
			$control.setTemplate("showfooter.vm")
			
	</div> 
	<!--MAIN END-->                 
	<div class="ad_right">
	<script type="text/javascript">
	var sogou_ad_id=306934;
	var sogou_ad_height=600;
	var sogou_ad_width=120;
	</script>
	<script language='JavaScript' type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
	</div>
</div>

</body>

</html>










