$rundata.setLayout("showlayout.vm");

<div class="wa">
<div class="content">
<div class="con_title">您的当前位置：电影 - 喜剧片</div>

<div class="playcon">

<img src="/filmpic/$!{movie.getPicUrl()}" class="flimimg" />

<div class="textinfo">
<h1>$!{movie.subject}</h1>
<p>导演：$!{movie.director}</p>
<p>主演：$!{movie.actors}</p>
<p>语言：$!{movie.language} </p>
<p>上映时间：2012-12-12</p>
<p>剧情：$!{movie.detail}  <a href="#">详细剧情</a></p>
<a href="${playUrl}?id=${movie.id}" class="bottomstyle" />播放</a>
</div>

</div>

<div class="banner2">
<img src="/images/banner02.gif" />
<img src="/images/banner02.gif" />

</div>

<div class="clear"></div>
</div>
</div>

<div class="wa">
<div class="content">
<div class="con_title">视频文件</div>

<div class="constkis">
<a href="${playUrl}?id=${movie.id}">预告片</a>    <a href="${playUrl}?id=${movie.id}">高清</a>
</div>

</div>
</div>

<div class="wa">
<div class="content">
<div class="con_title">类似视频推荐</div>

#foreach($item in $!pageList)
	<div class="filmcontj"   onmousemove="this.className='filmseleacttj';" onmouseout="this.className='filmcontj';">
	<a href="${playUrl}?id=${item.id}"><img src="/filmpic/$!{item.getPicUrl()}" /></a>
	<div class="filmname">
	<a href="${playUrl}?id=${item.id}">$!{item.subject}</a>
	</div>
	</div>
#end


</div>
</div>


<div class="wa">
<div class="content">
<div class="con_title">剧情介绍</div>

<div class="constext">
$!{movie.detail}
</div>

</div>
</div>