<div class="bottom">      <!--底部  开始-->

友情提示：请勿长时间观看本站视频，注意保护视力并预防近视
<br />
Copyright ? 2010-2013 聚优影视 www.yunqigou.com  浙ICP备12045191号-1
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000267520'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000267520%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

</div>                     <!--底部  结束-->
