<div class="bottom">      <!--底部  开始-->

友情提示：请勿长时间观看本站视频，注意保护视力并预防近视
<br />
Copyright ? 2010-2012 聚优影视 www.yunqigou.com

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc7acd7acc30336a308250d1f93daed46' type='text/javascript'%3E%3C/script%3E"));
</script>



</div>                     <!--底部  结束-->

</div>                  <!--MAIN END-->